# {{ ansible_managed }}
# Static slurm.conf for Slurm 25.11 (Ubuntu 26.04 packages). Identical on
# every cluster host. See slurm.conf(5).

ClusterName={{ slurm_install_cluster_name }}
SlurmctldHost={{ slurm_install_controller_host }}
AuthType=auth/munge
SlurmUser=slurm
{% set _ctld_params = (['enable_configless'] if slurm_install_configless else [])
                      + (['idle_on_node_suspend'] if slurm_install_cloud_scheduling else [])
                      + slurm_install_slurmctld_parameters %}
{% if _ctld_params | length > 0 %}
SlurmctldParameters={{ _ctld_params | unique | join(',') }}
{% endif %}

# Daemons (paths match the Ubuntu packages' systemd units and directories)
SlurmctldPort=6817
SlurmdPort=6818
StateSaveLocation=/var/lib/slurm/slurmctld
SlurmdSpoolDir=/var/lib/slurm/slurmd
SlurmctldPidFile=/run/slurmctld/slurmctld.pid
SlurmdPidFile=/run/slurm/slurmd.pid
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdLogFile=/var/log/slurm/slurmd.log
SlurmctldDebug=info
SlurmdDebug=info
SlurmctldTimeout=300
SlurmdTimeout=300
ReturnToService=1

# Scheduling
SchedulerType=sched/backfill
SelectType=select/cons_tres
SelectTypeParameters=CR_Core_Memory
DefMemPerCPU=1000
MaxJobCount=1000000
MaxArraySize=150000
JobRequeue=0
PriorityType=priority/multifactor
PriorityFlags=FAIR_TREE
PriorityDecayHalfLife=14-0
PriorityMaxAge=7-0
PriorityWeightAge=100
PriorityWeightFairshare=10000
PriorityWeightJobSize=500
PriorityWeightPartition=10000
PriorityWeightQOS=2000
{% if slurm_install_job_submit_lua_template | length > 0 %}
JobSubmitPlugins=lua
{% endif %}

# Job execution and resource limits (cgroup v2, see cgroup.conf)
ProctrackType=proctrack/cgroup
TaskPlugin=task/affinity,task/cgroup
JobAcctGatherType=jobacct_gather/cgroup
JobAcctGatherFrequency=30
MpiDefault={{ slurm_install_mpi_default }}
PropagateResourceLimits=NONE
KillWait=30
MinJobAge=300
InactiveLimit=0
Waittime=0

# Accounting
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageHost={{ slurm_install_dbd_host }}
AccountingStoragePort=6819
AccountingStorageEnforce=associations,limits,qos

{% if slurm_install_cloud_scheduling %}

# Elastic nodes (https://slurm.schedmd.com/elastic_computing.html): the
# programs below create and delete the VMs. A cloud node's address is looked
# up in DNS on every connection (NoAddrCache), because a re-created node gets
# a new IP; PrivateData=cloud keeps powered-down nodes visible in sinfo.
ResumeProgram={{ slurm_install_cloud_program_dir }}/slurm_openstack_resume
SuspendProgram={{ slurm_install_cloud_program_dir }}/slurm_openstack_suspend
SuspendTime={{ slurm_install_cloud_suspend_time }}
ResumeTimeout={{ slurm_install_cloud_resume_timeout }}
SuspendTimeout={{ slurm_install_cloud_suspend_timeout }}
ResumeRate={{ slurm_install_cloud_resume_rate }}
SuspendRate={{ slurm_install_cloud_suspend_rate }}
CommunicationParameters=NoAddrCache
PrivateData=cloud
{% if slurm_install_cloud_suspend_exc_nodes | length > 0 %}
SuspendExcNodes={{ slurm_install_cloud_suspend_exc_nodes }}
{% endif %}
{% if slurm_install_cloud_suspend_exc_parts | length > 0 %}
SuspendExcParts={{ slurm_install_cloud_suspend_exc_parts }}
{% endif %}
{% endif %}

# Nodes and partitions
{% for node in groups[slurm_install_workers_group] | default([]) %}
{%   set facts = hostvars[node]['ansible_facts'] %}
NodeName={{ node }} Sockets={{ facts['processor_count'] }} CoresPerSocket={{ facts['processor_cores'] }} ThreadsPerCore={{ facts['processor_threads_per_core'] }} RealMemory={{ facts['memtotal_mb'] - slurm_install_node_memory_reserve_mb | int }} State=UNKNOWN
{% endfor %}
{% for group in (slurm_install_cloud_nodes if slurm_install_cloud_scheduling else []) %}
NodeName={{ group.name }} State=CLOUD CPUs={{ group.cpus }} RealMemory={{ group.real_memory }}{% if group.sockets is defined %} Sockets={{ group.sockets }}{% endif %}{% if group.cores_per_socket is defined %} CoresPerSocket={{ group.cores_per_socket }}{% endif %}{% if group.threads_per_core is defined %} ThreadsPerCore={{ group.threads_per_core }}{% endif %} Features=image={{ group.image }},flavor={{ group.flavor }},network={{ group.network }},keypair={{ group.keypair }},security_groups={{ group.security_groups | join('|') }}{% if group.volume_size is defined %},volume_size={{ group.volume_size }}{% endif %}{% if group.extra is defined %} {{ group.extra }}{% endif %}

{% endfor %}
{% set _cloud_node_names = (slurm_install_cloud_nodes | map(attribute='name') | list
                            if slurm_install_cloud_scheduling else []) %}
{% set _same_partition = slurm_install_cloud_partition_name == slurm_install_partition_name %}
{% set _partition_nodes = (groups[slurm_install_workers_group] | default([]))
                          + (_cloud_node_names if _same_partition else []) %}
{% if _partition_nodes | length > 0 %}
PartitionName={{ slurm_install_partition_name }} Nodes={{ _partition_nodes | join(',') }} Default=YES MaxTime=INFINITE State=UP
{% endif %}
{% if _cloud_node_names | length > 0 and not _same_partition %}
PartitionName={{ slurm_install_cloud_partition_name }} Nodes={{ _cloud_node_names | join(',') }} Default={{ 'NO' if _partition_nodes | length > 0 else 'YES' }} MaxTime=INFINITE State=UP
{% endif %}
{% if slurm_install_slurm_conf_extra | length > 0 %}

# Extra settings (slurm_install_slurm_conf_extra)
{{ slurm_install_slurm_conf_extra }}
{% endif %}
